<!DOCTYPE html>
<!--html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



<script async="" src="//www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


    <script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

  <body-->
{% extends 'registration/login.html' %}

  {% block content %}
  <br><h1 class="text-center">Sistema de Asistencia</h1>

  <div class="container">
{% if us %}
    <section id="feature">
          <div class="container">
               <div class="row">
                    {% for us in us %}
                    <div class="col-md-4 col-sm-4">
                      <a href="{% url 'Docente:Configuracion' %}">
                         <div class="feature-thumb">
                              <span>01</span>
                              <h3>Configuraciones </h3>
                              <p>Realiza ajustes que más necesites.</p>
                              <p><strong>Estás en modo {{ us.username  }}</strong></p>
                         </div>
                      </a>
                    </div>
                    {% endfor %}


                    {% for us in us %}
                    <div class="col-md-4 col-sm-4">
                      <a href="#">
                         <div class="feature-thumb">
                              <span>02</span>
                              <h3>Asistencias por colaborador</h3>
                              <p>Identifique de manera detallada la puntualidad.</p>
                              <p><strong>Estás en modo {{ us.username  }}</strong></p>
                         </div>
                      </a>
                    </div>
                    {% endfor %}

                    {% for us in us %}
                    <div class="col-md-4 col-sm-4">

                      <a href="{% url 'Docente:Consolidado' %}">
                         <div class="feature-thumb">
                              <span>03</span>
                              <h3>Consolidado de Asistencias</h3>
                              <p>Observa las asistencias de tus colaboradores, puedes decargarlo en formato PDF.</p>
                              <p><strong>Estás en modo {{ us.username  }}</strong></p>
                         </div>
                      </a>
                    </div>
                    {% endfor %}
               </div>
          </div>
     </section>
{% endif %}

</div>


{% endblock %}

  <!--/body>
</html-->
