{% extends 'index.html' %}

{% block content  %}
<h1 class="text-center">Configuraciones > Usuarios </h1>

<div class="container">
  <h3 class="text-left" ><a href="{% url 'Docente:Configuracion' %}">< Atrás</a></h3><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Correo</th>
      <th scope="col">Activo</th>
      <th scope="col" class="text-center">Dar (Alta/Baja)</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>
  <tbody>
{% if docentes %}
{% for docentes in docentes %}
    <tr>
      <th scope="row">{{ docentes.id }}</th>
      <th scope="row">{{ docentes.username }}</th>
      <th scope="row">{{ docentes.first_name }}</th>
      <th scope="row">{{ docentes.last_name }}</th>
      <th scope="row">{{ docentes.email }}</th>
      <th scope="row">{{ docentes.is_active }}</th>
      <th scope="row"><a class="submit-btn form-control text-center" href="{% url 'Docente:DardeBaja' docentes.id  %}" style="BACKGROUND:#2684B3; color:white">Dar De (Alta / Baja)</a>
      <th scope="row"><a class="submit-btn form-control text-center" href="{% url 'Docente:Categoria_Add' docentes.id  %}" style="BACKGROUND:#2684B3; color:white">Añadir</a>
  </th>
    </tr>
{% endfor %}
{% endif %}
    <tr>
      <th colspan="6">
        <a class="submit-btn form-control text-center" href="{% url 'Docente:RegistrarDocente' %}" style="BACKGROUND:#2684B3; color:white">Más Docentes</a>
      </th>
    </tr>
  </tbody>
</table>

</div>
{% endblock %}
